@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-section {
  display: flex;
  flex-direction: column;
  flex: 0 0 30vw;
  background-image: url('../images/orange_1920.jpg')
}

.left-section-top {
  height: 25vh;
}


.left-section-mid {
  height: 15vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-header {
  font-family: 'Bebas Neue', 'Times New Roman', Times, serif;
  color: white;
  opacity: 1;
  font-size: calc(12px + 3vw);
  z-index: 1;
}

.logo {
  height: 13vh;
  z-index: 1;
}

.logo-background {
  background-color: black;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .4;
}

.left-section-bottom {
  height: 60vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.caption-for-img {
  margin-bottom: 2vh;
  font-size: calc(6px + .5vw);
}

a {
  color: darkblue;
}

.caption-for-img a:hover {
  color: black;
}

.caption-for-img a:active {
  color: purple;
}







.right-section {
  display: flex;
  flex-direction: column;
  flex: 0 0 70vw;
}

.right-section-top {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: rgba(211, 211, 211, .2);
}

.right-section-mid {
  height: 35vh;
  box-shadow: rgba(128, 128, 128, 0.2) 1vh 1vh 12px;
}

.right-section-bottom {
  background-color: rgba(211, 211, 211, .2);
  height: 30vh;
}


.funny-supportive {
  margin-bottom: 7vh;
}

.funny-text, .funny-supportive {
  font-size: calc(16px + .5vw);
  margin-left: 3vw;
  margin-right: 8vw;

}

.funny-text {
  margin-bottom: 4vh;
}

input {
  appearance: none;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper-two-elements {
  display: flex;
  margin-left: 3vw;
  margin-right: 8vw;
}

.wrapper-one-element {
  display: flex;
  flex-direction: column;
  height: 8vh;
}

.wrapper-one-element:last-child {
  margin-left: calc(100px + 5vw);
}

.right-section-mid p {
  font-size: calc(8px + 1vw);
  margin-left: 3vw;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.wrapper-one-element input {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: .3vw;
  width: calc(160px + 5vw);
  height: 4vh;
  padding-left: .5vw;
}

.wrapper-one-element input:focus {
  border: 1px solid blue;
  box-shadow: 3px 3px 7px rgba(000, 000, 000, .4)
}

input.error {
  border: 1px solid red;
}

button {
  appearance: none;
  border: none;
}

button {
  border: rgba(128, 128, 128, 0.3) solid 1px;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(128, 128, 128, 0.8);
  background-color: orangered;
  width: 12vw;
  height: 6vh;
  margin-left: 3vw;
  margin-top: 2vw;
  font-size: 1vw;
}

.already{
  font-size: 1vw;
  margin-top: 4vh;
  margin-left: 3vw;
}

.prove{
  color: orangered;
}